name: Dashboard_instrumentacao
channels:
  - conda-forge
dependencies:
  - python=3.12
  - pip
  - ipython
  - jupyterlab
  - matplotlib
  - notebook
  - numpy
  - pandas
  - scikit-learn
  - ruff
  - pytest
  - pip:
    - python-dotenv
    - mkdocs
    - -e .